
.set-item{
    display: flex;
    border-radius: 12px;
    margin:12px;
}
.set-item>img{
    padding: 20px;
}

.set-name{
    font-size: 36px;
    font-family: title01,title02;
    margin-top: 12px;
    margin-bottom: 12px ;
}