    .background {
        filter: blur(30px);
        /* 调整模糊程度 */
    }

    .pet-atlas {
        display: flex;
    }


    .pet-img {
        width: 400px;
        height: 500px;
        position: relative;
    }

    .pet-img>div {
        transform: scale(calc(500 / 700)) translateX(-100px);
        transform-origin: 0% 0%;
    }

    .pet-info {
        flex: 1;
        align-items: center;
        padding: 24px 24px 0 12px;
        display: flex;
        height: 100%;
        min-height: 400px;
        flex-direction: column;
        justify-content: space-around;
    }

    .pet-name {
        text-align: center;
        position: relative;
        font-size: 72px;
        font-family: "title01";
    }




    .pet-base {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pet-base .pet-battle-tag {
        font-size: 24px;
        display: inline-block;
        padding: 3px 10px 3px 3px;
        margin: 0 3px 0 3px;
        border-radius: 20px;
        color: #525252;
        background-color: white;
    }

    .pet-base .pet-battle-tag>* {
        vertical-align: top;
    }

    .pet-base-skills {
        margin-top: 12px;
        background-color: #eaeae8;
        width: 100%;
        border-radius: 20px 5px 20px 5px;
        display: flex;
        color: #8d8d8d;
        align-items: center;
        padding: 12px;
    }

    .pet-base-skills-title {
        font-size: 20px;
        padding-top: 4px;
        flex: 1;
    }

    .pet-base-skill {
        display: inline-block;
        border-radius: 20px;
        background-color: #b6aecb;
        color: white;
        padding: 3px 8px;
        font-size: 20px;
        text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
    }

    .pet-base-skill:nth-child(2n) {
        background-color: #e5d199;
    }

    .pet-base-skill:nth-child(3n) {
        background-color: #b6d1e3;
    }

    .pet-box {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding:12px;
        margin-top: 12px;
    }

    .pet-tab {
        display: flex;
        justify-content: space-between;
        color: #7a8290;
        border-bottom: 1px dashed #7a8290;
        font-size: 20px;
        width: 100%;
    }

    .pet-tab>div {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .pet-tab .pet-size{
        border-radius: 50%;
        width: 26px;
        height:26px;
        display: inline-block;
        background-color: #8797ae;
        color:white;
    }

    .pet-tab>div.line {
        border-right: 1px solid #7a8290;
    }

    .pet-desc {
        margin-top: 12px;
        font-size: 22px;
        color: #7f7f7f;
        text-indent: 2em;
    }




    .evolution-title {
        font-size: 32px;
        font-weight: bold;
        margin: 24px;
        text-align: center;
        background-image: linear-gradient(to right, rgba(37, 43, 44, 0.8), rgba(75, 68, 60, 0.7));
        color: white;
        border-radius: 25px;
    }

    .evolution {
        display: flex;
        justify-content: space-between;
        margin: 0 24px;
        align-items: center;
    }

    .evolution-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .evolution-pet-stage {
        display: inline-block;
        border-radius: 20px;
        background-color: #303133;
        color: white;
        padding: 3px 8px;
        font-size: 20px;
    }

    .evolution .evolution-pet-name {
        text-align: center;
    }

    .evolution>:last-child {
        display: none;
    }



    /**
* 技能区域
*/








    /* 背景样式 */
    .background {
        background-size: cover;
        filter: blur(10px);
        /* 调整模糊程度 */
        opacity: 0.5;
    }