.building-list {
    display: flex;
    flex-wrap: wrap;
}

.building-item {
    box-sizing: border-box;
    margin: 5px 6px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #dee0e4;
}

.building-img {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 105px;
    height: 105px;
    object-fit: contain;
    object-position: center center;
}

.building-text {
    width: 100%;
    text-align: center;
    color: #dadada;
    font-size: 22px;
    border-top: 3px solid #adafb3;
    background-color: #172335;
}