.food-list {
    display: flex;
    flex-wrap: wrap;
}

.food-item {
    box-sizing: border-box;
    margin: 5px 6px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #dee0e4;
}

.food-img {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 131px;
    height: 131px;
    object-fit: contain;
    object-position: center center;
}

.food-text {
    max-width: 141px;
    overflow: visible;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    color: #dadada;
    font-size: 24px;
    border-top: 3px solid #adafb3;
    background-color: #172335;
    padding:5px 0;
}