.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    /* 或 'contain'，根据你的需求调整 */
    background-repeat: no-repeat;
    filter: blur(10px);
    /* 调整模糊程度 */
    opacity: 0.3;
    /* 调整半透明程度 */
    z-index: -1;
    /* 确保伪元素位于内容之下 */
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.8) 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.8) 100%);
}

.sign-img {
    width: 830px;
    min-height: 830px;
    max-height: 1500px;
    /* 最大宽度限制 */
    object-fit: cover;
    /* 裁切超出部分 */
    object-position: center 0%;
    /* 从上向下透明渐变 */
    -webkit-mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.9) 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.9) 85%, transparent 100%);
    margin-bottom: -5%;
    z-index: 0;
    position: relative;
}

.sign-rank {
    position: relative;
    z-index: 1;
    font-size: 36px;
    font-family: "title02";
    opacity: 1;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    /* 白色描边 */
    text-shadow: 0 0 1px #fff, 1px 1px 3px rgba(255, 255, 255, 0.9);
}

.sign-xinghong {
    overflow: visible;
    white-space: nowrap;
    padding-left: 10px;
    font-size: 18px;
    text-align: left;
}




.sign-text {
    text-align: center;
    font-size: 36px;
    font-family: "title02";
    color: rgba(0, 0, 0, 0.9);
    /* 白色描边 */
    text-shadow: 0 0 1px #fff, 1px 1px 3px rgba(255, 255, 255, 0.9);
}

.sign-user-img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    transform: translate(0, 10px);
}

.sign-name {
    opacity: 1;
    font-family: 黑体;
    font-weight: bold;
    font-size: 38px;
    /* 斜体 */
    font-style: italic;
}

.sign-hero {
    opacity: 1;
    font-size: 65px;
    font-family: "title01";
    color: rgba(0, 0, 0);
}





.sign-history-title {
    font-size: 24px;
    /* text-align: center; */
}

.sign-history {
    margin: 10px 10px 10px 30px;
    color: grey;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* 文本不换行 */
    white-space: nowrap;
}

.sign-interrupt {
    margin-top: 10px;
}