{{extend layout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/sign/index.css" />
{{/block}}

{{block 'main'}}

<img class="sign-img" src="{{heroImg}}" alt="">
{{if rank}}
    {{if updateSign}}
        <div class="sign-rank" style="color:{{color}}">
            <div>今日老婆已更换！</div>
            <div class="sign-xinghong">
                <span style="color:red">签到星虹{{xinghong_sign}}</span><br />
                <span>总星虹数量：{{xinghong}}</span>
            </div>
        </div>
    {{else}}
        <div class="sign-rank" style="color:{{color}}">
            <div>{{hasSign?'你已签到！':'签到成功！'}}今日在本群第{{rank}}个签到！</div>
            <div class="sign-xinghong">
                <span>签到星虹+{{xinghong_sign}}</span><br />
                <span>总星虹数量：{{xinghong}}</span>
            </div>
        </div>
    {{/if}}
{{/if}}
<div class="sign-text">
    <div>
        <img class="sign-user-img" src="{{userIcon}}" />
        <span class="sign-name">{{username}}</span>
        的今日老婆是
    </div>
    <div style="font-size:60px">「<span class="sign-hero">{{heroName}}</span>」</div>
</div>
<div class="section-box">
    <div class="sign-history-title">
        累积签到{{day}}天，共获得{{heroNums}}个老婆：
    </div>
    <div class="sign-history">
        <% for(var i=0; i < hisHeros.length; i++){ %>
            <span>&nbsp;{{hisHeros[i][0]}}×{{hisHeros[i][1]}}&nbsp;</span>
            <% } %>
    </div>
</div>
{{/block}}